<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Mongoose Dashboard</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h1>Edit Primate #<%= primate.id %>!</h1>
        </nav>

        <form action="/primates/<%= primate.id %>" method='post'>
            <div class="form-group col-sm-6">
                <label><b>Current Name:</b> <%= primate.name %></label>
                <input type="text" class="form-control" name="name" placeholder="Name">
            </div>
            <div class="form-group col-sm-6">
                <label><b>Current Color:</b> <%= primate.color %></label>
                <input type="text" class="form-control" name="color" placeholder="Color">
            </div>
            <div class="form-group col-sm-6">
                <label><b>Current Weight:</b> <%= primate.weight %></label>
                <input type="text" class="form-control" name="weight" placeholder="Weight">
            </div>
            <div class="form-group col-sm-6">
                <label><b>Current Origin:</b> <%= primate.origin %></label>
                <input type="text" class="form-control" name="origin" placeholder="Origin">
            </div>
            <hr>
            <button type="submit" class="btn btn-outline-primary">Edit Primate</button>
            <a class="btn btn-outline-danger" href="/primates" role="button">Home</a>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
